
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="w3-container w3-center w3-padding-48 w3-white">
   
     <img class="w3-image" src="../assets/ST-felix_logo.png" alt="Fashion Blog" width="400" height="400">

    <h6>Welcome to <span class="w3-tag">SpaceTrading's web</span></h6>
  </header>

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="../assets/photo-1553095066-5014bc7b7f2d.jpeg" alt="Fashion Blog" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-jumbo w3-text-white "><b>SpaceTrading</b></h1>
      <h1 class="w3-text-white  w3-jumbo-two"><b>-Official partner |"StormGain"|</b></h1>
      <h1 class="w3-text-white  w3-jumbo-two"><b>-Crypto education</b></h1>
      <h1 class="w3-text-white  w3-jumbo-two"><b>-Free help for beginners</b></h1>
      
    <button class="w3-button w3-hide-small  w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off"> <a href="https://instagram.com/spacetrading.md?igshid=NmNmNjAwNzg=" class="w3-button "><i class="fa fa-instagram"></i> SUBSCRIBE</a></button>
       
    <button class="w3-button  w3-hide-small w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off"> <a href="https://t.me/SpaceTradingMD" class="w3-button "><i class="fa fa-telegram"></i>SUBSCRIBE</a></button>
       
      

    </div>
  </header>
  
  <style>
   @media screen and (max-width: 650px) {
   .w3-jumbo{font-size:20px!important}
   .w3-jumbo-two{font-size:15px!important}
   .w3-text-white,.w3-hover-text-white:hover{color:rgb(248, 248, 248)!important}
   }

   @media screen and (max-width: 907px) {
   .w3-jumbo{font-size:50px!important}
   .w3-jumbo-two{font-size:35px!important}
   .w3-text-white,.w3-hover-text-white:hover{color:rgb(248, 248, 248)!important}
   }

   @media screen and (max-width: 656px) {
   .w3-jumbo{font-size:40px!important}
   .w3-jumbo-two{font-size:25px!important}
   .w3-text-white,.w3-hover-text-white:hover{color:rgb(248, 248, 248)!important}
   }

   @media screen and (max-width: 521px) {
   .w3-jumbo{font-size:30px!important}
   .w3-jumbo-two{font-size:20px!important}
   .w3-text-white,.w3-hover-text-white:hover{color:rgb(248, 248, 248)!important}
   }

   @media screen and (max-width: 414px) {
   .w3-jumbo{font-size:20px!important}
   .w3-jumbo-two{font-size:15px!important}
   .w3-text-white,.w3-hover-text-white:hover{color:rgb(248, 248, 248)!important}
   }

  </style>


