
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
       <!-- Blog entry -->
       <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>TITLE HEADING</h3>
          <h5>Terra Luna, <span class="w3-opacity">Sep 26, 2022</span></h5>
        </div>

        <div class="w3-justify">
          <img src="https://v2.cimg.co/news/88687/222754/responsive-images/ytvid1002___media_library_original_617_335.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
          <p><strong>Terra Luna Classic (LUNC)</strong> crypto explodes once again following an extremely bullish tweet from Binance. 

            Only yesterday the price of LUNC plummeted down to $0.000179 and today LUNC has reversed back to $0.00029.
            
            Will LUNC continue to surge in price? LUNC is available on Binance.</p>
          
          <p><strong>Terra Luna Classic (LUNC) Price Prediction</strong></p><p>The sentiment for Terra Luna Classic (LUNC) has flipped from bearish to bullish following some extremely important news from the CEO of Binance @CZ_Binance on Twitter.

            It is officially stated that the major centralized exchange Binance will now support the Terra Luna Classic (LUNC) burning mechanism to help reduce the supply. </p>
         <p class="w3-left"><button class="w3-button w3-white w3-border" (click)="onclick()"><b><i class="fa fa-thumbs-up"></i>  {{like?"Like":"&#10003; Liked"}}</b></button></p>
          
         
        </div>
      </div>
      <hr>
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>TITLE HEADING</h3>
          <h5>Terra Luna, <span class="w3-opacity">Sep 26, 2022</span></h5>
        </div>

        <div class="w3-justify">
          <img src="https://v2.cimg.co/news/88687/222754/responsive-images/ytvid1002___media_library_original_617_335.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
          <p><strong>Terra Luna Classic (LUNC)</strong> crypto explodes once again following an extremely bullish tweet from Binance. 

            Only yesterday the price of LUNC plummeted down to $0.000179 and today LUNC has reversed back to $0.00029.
            
            Will LUNC continue to surge in price? LUNC is available on Binance.</p>
          
          <p><strong>Terra Luna Classic (LUNC) Price Prediction</strong></p><p>The sentiment for Terra Luna Classic (LUNC) has flipped from bearish to bullish following some extremely important news from the CEO of Binance @CZ_Binance on Twitter.

            It is officially stated that the major centralized exchange Binance will now support the Terra Luna Classic (LUNC) burning mechanism to help reduce the supply. </p>
         <p class="w3-left"><button class="w3-button w3-white w3-border" (click)="onclick()"><b><i class="fa fa-thumbs-up"></i>  {{like?"Like":"&#10003; Liked"}}</b></button></p>
          
         
        </div>
      </div>
      <hr>

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>TITLE HEADING</h3>
          <h5>Bitcoin Price and Ethereum, <span class="w3-opacity">sep 26, 2016</span></h5>
        </div>

        <div class="w3-justify">
          <img src="https://v2.cimg.co/news/88697/222775/crypto-market-watch-btc-eth-2.jpg" alt="Men in Hats" style="width:100%" class="w3-padding-16">
          <p><strong>Bitcoin Price and Ethereum</strong> Hesitate While LUNC Stages Fresh Rally</p>
          <p>Bitcoin price slowly moved higher above the $19,000 resistance. BTC is currently (11:10 UTC) consolidating above the $19,000 level. It seems like the price might start a fresh increase if it stays above the $19,000 zone.

            Besides, most major altcoins are facing hurdles. ETH a key bearish trend line, but it is struggling to gain bullish momentum. XRP is down over 4% and might even test the $0.455 support zone. ADA declined below the $0.45 support.</p>
            <p class="w3-left"><button class="w3-button w3-white w3-border" (click)="onclick1()"><b><i class="fa fa-thumbs-up"></i>  {{likee?"Like":"&#10003; Liked"}}</b></button></p>
          
          
          <!-- Example of comment field -->
          
        </div>
      </div>

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>TITLE HEADING</h3>
          <h5>Best New Crypto Coin Listing, <span class="w3-opacity">Sep 24, 2022</span></h5>
        </div>

        <div class="w3-justify">
          <img src="https://v2.cimg.co/news/88597/222605/responsive-images/best-new-coin-listing-right-now-tamadoge___media_library_original_1516_1000.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
          <p><strong>Best New Crypto Coin Listing</strong> - Is Tamadoge the Next Shiba Inu, Dogecoin or GMT</p>
          <p>Tamadoge (TAMA) will list on OKX exchange Sept 27 at 11:00 UTC and aims to combine the appeal to investors of meme coins like SHIB and DOGE with a P2E game, incorporating metaverse and move to earn mechanics. Is Tamadoge the best new coin listing to watch this week?

            New crypto TAMA is the in-game currency and rewards token of the Tamadoge battle app, used to mint virtual pets tokenized as NFTs and earnt by players in its ecosystem. This week Capital.com reviewed the Tamadoge project - another indicator its initial exchange offering (IEO) could perform well.</p>
            <p class="w3-left"><button class="w3-button w3-white w3-border" (click)="onclick2()"><b><i class="fa fa-thumbs-up"></i>  {{likeee?"Like":"&#10003; Liked"}}</b></button></p>
          
          
          <!-- Example of comment field -->
          
        </div>
      </div>
      
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-white w3-margin">
        <img src="../assets/Post_1.png" alt="Jane" style="width:100%" class="w3-grayscale">
        <div class="w3-container w3-black">
          <h4>About SpaceTrading</h4>
          <p>Echipa SPACE TRADING Activeazà deja de mai mult timp, dar în jur de o lunã în urmã am luat hotarârea ca sá aparem pe ecranele voastre aici pe instagram, pentru a primi o doza maximá de motivatie in sfera criptovalutei dar si in general sá fim o paginã motivationalà pentru restul peroanelor care nu au nici o legaturá cu criptovaluta!</p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="https://v2.cimg.co/news/88687/222754/responsive-images/ytvid1002___media_library_original_617_335.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Terra Luna</span>
            <br>
            <span>Terra Luna Classic (LUNC)</span>
          </li>
          <li class="w3-padding-16">
            <img src="https://v2.cimg.co/news/88697/222775/crypto-market-watch-btc-eth-2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Bitcoin Price and Ethereum,</span>
            <br>
            <span>Hesitate While LUNC Stages Fresh Rally</span>
          </li>
          <li class="w3-padding-16">
            <img src="https://v2.cimg.co/news/88597/222605/responsive-images/best-new-coin-listing-right-now-tamadoge___media_library_original_1516_1000.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Best New Crypto</span>
            <br>
            <span>Coin Listing</span>
          </li>
         
        </ul>
      </div>
      <hr>

      <!-- Advertising -->
       <div class="w3-white w3-margin">
        <img src="https://stormgainclub.com/images/stormgain/1595480227466/original/stormgain-review-a-solid-platform-for-leveraged-crypto-trading.jpg" alt="Jane" style="width:100%" class="w3-grayscale">
        <div class="w3-container w3-black">
          <h4>About StormGain</h4>
          <p>JStormGain is a crypto trading platform for everyone. It’s a convenient solution for those who want to profit from either the growth or decline of the cryptocurrency market and from long-term investments in crypto assets.

            Available on any device, StormGain allows you to start trading the most popular and most capitalised coins with a multiplier of up to 500x, or you can just buy and hold crypto.</p>
        </div>
      </div>
      <hr>

      <!-- Tags -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Cryptocurrency</h4>
        </div>
        <div class="w3-container w3-white">
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">BTC</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">ETH</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">USDT</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">USDC</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">BNB</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">XRP</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">BUSD</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">ADA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">SOL</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DOGE</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DOT</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DAI</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">MATIC</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">SHIB</span>
          </p>
        </div>
      </div>
      <hr>

      <!-- Inspiration -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Inspiration</h4>
        </div>
        <div class="w3-row-padding w3-white">
          <div class="w3-col s6">
            <p><img src="../assets/photo-1553095066-5014bc7b7f2d.jpeg" alt="Jeans" style="width:100%"></p>
            <p><img src="../assets/photo-1553095066-5014bc7b7f2d.jpeg" alt="Jeans" style="width:100%"></p>
          </div>
          <div class="w3-col s6">
            <p><img src="../assets/photo-1553095066-5014bc7b7f2d.jpeg" alt="Men in Hats" style="width:100%" class="w3-grayscale"></p>
            <p><img src="../assets/photo-1553095066-5014bc7b7f2d.jpeg" alt="Jeans" style="width:100%"></p>
         </div>
        </div>
      </div>
      <hr>

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Follow Me</h4>
        </div>
        <div class="w3-container w3-xlarge w3-padding">
         
           <ul class="social-icons">
              <li>
                  <a href="https://instagram.com/spacetrading.md?igshid=NmNmNjAwNzg="><i class="fa fa-instagram"></i></a>
              </li>

              <li>
                <a href="https://t.me/SpaceTradingMD"><i class="fa fa-telegram"></i></a>
            </li>
             

          </ul>
         
        </div>
      </div>
      <hr>
      
      <!-- Contact -->
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        
        <h2 class="w3-wide w3-center">CONTACT</h2>
        <p class="w3-opacity w3-center"><i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br></p>
        <div class="w3-row w3-padding-32">
          
          <div class="w3-col m6">
            <form
  action="https://formspree.io/f/mwkzoknd"
  method="POST"
>
              <div class="w3-row-padding" style="margin: 10px 0px 10px 0px">
                <div class="w3-half">
                  <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                </div>
                <div class="w3-half">
                  <input class="w3-input w3-border" type="text" placeholder="Your Email" required name="Email">
                </div>
              </div>
              <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
              <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
            </form>
          </div>
        </div>
      </div>

    <!-- END About/Intro Menu -->
    </div>

  
   
    
    
 
  </div>

  <style>

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit;}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

@media (min-width:902px){.w3-cool.m6,.w3-half{width:49.99999%}}

  </style>